
html {
    font-family: Verdana, Tahoma, sans-serif;
}


label {
    font-size: 14px;
    line-height: 20px;
    color: darkgreen;
}

.tab {
    padding-top: 10px;
}

.input-text {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 11px;
    border: 1px solid green;
    border-radius: 4px;
}

.input-button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid green;
    border-radius: 4px;
    background: lightsteelblue;
    color: white;
}

.input-button:hover {
    background: #bed2ec;
}

.input-button:active {
    background: #9bafc9;
}

.selected {
    border: 2px solid green;
    color: green;
    padding: 11px;
    background: white;
}

.input-date{
    padding:5px;
}

.list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account{
    font-size: 12px;
    padding-top:10px;
    margin-right: 2px;
}

.balance{
    font-size: 12px;
    padding-top:10px;
}
